@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: #F8F9FF;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 20px 0;
  color: #3A539B;
  font-weight: 700;
}

.card-title {
  color: #3A539B;
  font-weight: 700;
}